@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&family=Poppins:ital,wght@0,400;1,100;1,200;1,400&family=Raleway:wght@100;200;400;700&display=swap');

:root{
    --orange: #ff7800;
    --black: #130f40;
    --grey: #666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline-hover:1rem solid var (--black);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

